.eat {
  position: relative;
  padding: 5% 8%;
  padding-bottom: 100px;

  .leaf {
    position: absolute;
    width: 30%;
    top: 100px;
    right: -100px;
    transition: transform ease-in-out 2s;
  }

  .eat-list {
    display: flex;
    justify-content: center;

    ul {
      list-style-type: none;
      line-height: 1.5rem;

      li {
        font-family: $default-font;
        text-transform: capitalize;

        a {
          text-decoration: none;
          color: $blue;
          transition: all 0.5s;

          &:hover {
            padding-left: 8px;
          }
        }
      }
    }

    .column-1 {
      width: 30%;
    }

    .column-2 {
      width: 30%;
    }
  }
}

.shop {
  position: relative;
  background-color: $blue;
  padding: 5% 8%;
  padding-top: 2%;
  padding-bottom: 100px;

  h2 {
    color: white;
  }

  .cloud {
    position: absolute;
    width: 120%;
    transform: rotate(180deg);
    top: -200px;
    right: 0;
    z-index: -99;
  }

  .sprinkles {
    position: absolute;
    width: 40%;
    transform: rotate(-30deg);
    left: -180px;
    top: 150px;
    z-index: 99;
  }

  .shop-list {
    display: flex;
    justify-content: center;

    ul {
      list-style-type: none;
      line-height: 1.5rem;

      li {
        font-family: $default-font;
        text-transform: capitalize;

        a {
          text-decoration: none;
          color: white;
          transition: all 0.5s;

          &:hover {
            padding-left: 8px;
          }
        }
      }
    }

    .column-1 {
      width: 30%;
    }

    .column-2 {
      width: 30%;
    }
  }
}

.see {
  padding: 5% 8%;
  padding-bottom: 100px;
  position: relative;

  .leaf-2 {
    position: absolute;
    z-index: 100;
    left: -120px;
    top: -20px;
    width: 30%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: transform ease-in-out 2s;
  }

  .lineup {
    display: block;
    width: 50%;
    margin: 0 auto;

    h3 {
      font-family: $default-font;
      text-transform: capitalize;
      display: inline-block;
    }

    h4 {
      font-family: $default-font;
      text-transform: capitalize;
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 760px) {
  .eat {
    padding: 4%;
    padding-bottom: 100px;

    .leaf {
      right: -250px;
    }

    .eat-list {
      justify-content: space-around;
      font-size: 0.8rem;

      .column-1 {
        width: 50%;
      }

      .column-2 {
        width: 50%;
      }
    }
  }

  .shop {
    padding: 4%;
    padding-bottom: 50px;

    .cloud {
      top: -100px;
    }

    .shop-list {
      justify-content: space-around;
      font-size: 0.8rem;

      .column-1 {
        width: 50%;
      }

      .column-2 {
        width: 50%;
      }
    }
  }

  .see {
    padding: 4%;
    padding-bottom: 50px;

    .lineup {
      width: 80%;

      h3 {
        font-size: 1rem;
      }
    }
  }
}
