header {
  height: 550px;
}

.past-event-gallery {
  width: 60%;
  display: block;
  margin: 50px auto;
  margin-bottom: 50px;
  z-index: 999;

  ul {
    margin-left: 0;
    padding-left: 0;

    li {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      width: 50%;
      float: left;
      display: none;

      img {
        width: 100%;
        display: inline-block;
      }
    }
  }
}

.more {
  display: block;
  clear: both;
  width: 100%;
  margin: 20px 0;

  .load-more {
    @include cta-style;

    display: block;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    color: black;
  }
}

.mailing-list {
  clear: both;
}

@media only screen and (max-width: 782px) {
  header {
    height: 400px;
  }

  .past-event-gallery {
    ul {
      li {
        width: 100%;

        img {
          width: 100%;
          display: block;
        }
      }
    }
  }

  .load-more {
    font-size: 0.8rem;
    margin: 30px auto;
  }
}
